<div id="navi">
    <a href="/login"><button><img src="../public/img/login.svg" width="20px">Iniciar sesión</button></a>
    <a href="/registro"><button><img src="../public/img/registro.svg" width="20px">Registro</button></a>
    <hr>
    <a href="/"><button><img src="../public/img/inicio.svg" width="20px">Inicio</button></a>
    <a href="/foro"><button><img src="../public/img/foro.svg" width="20px">Foro</button></a>
    <a href="/juegos"><button><img src="../public/img/juegos.svg" width="20px">Juegos</button></a>
    <a href="/aprender"><button><img src="../public/img/aprender.svg" width="20px">Aprender</button></a>
    <a href="/otras"><button>Otras apps</button></a>
</div>