<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="public/css/style2.css">
    <title>Inicio</title>
</head>
<body>
   
    <%- include('partials/elements.ejs') %>

    <div class="page">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores non qui corporis dolore in assumenda atque amet ab aliquid tempore? Ullam non facere vero repudiandae eos! Assumenda quibusdam fuga animi inventore hic laborum impedit, at et unde voluptatibus explicabo repellendus atque adipisci sapiente eligendi tempore asperiores neque ipsum totam debitis sequi. Obcaecati expedita adipisci ducimus quibusdam ea harum quae iure quo assumenda! Quas ab veritatis, culpa corporis eius cupiditate. Quidem non similique facere ab veniam praesentium in? Nisi, debitis ad veniam vel natus culpa iusto corporis, rem distinctio soluta magnam, et nihil? Nihil recusandae at facilis cum ea nemo aliquam.    
        <br><img src="https://picsum.photos/800/600" width="100%">
    </div>
    
</body>
</html>
<script src="functions/action.js"></script>
<script>
    colaMsg.add('Hola, soy la pove.');
    colaMsg.add('Tienes que <a href="/login">iniciar sesión</a> para acceder a algunas secciones.');
</script>