<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="public/css/style.css">
    <title>Inicio de sesión</title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    <div class="page">
        <%- include('partials/header.ejs') %>
        
        <h2>Inicio de sesión</h2>

        <div class="content">
            
        </div>
        
        <%- include('partials/footer.ejs') %>
    </div>
</body>
</html>
<script src="functions/action.js"></script>
<script>
    colaMsg.add('Introduzca sus datos para acceder.');
</script>