<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="public/css/style.css">
    <title>Nada</title>
</head>
<body>
   
    <%- include('partials/elements.ejs', { user }) %>

    <div class="page">
        <h2>Esta páguina no existe</h2>
    </div>
    
</body>
</html>
<script src="functions/action.js"></script>
<script>
    colaMsg.add('.......');
</script>