<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="public/css/style.css">
    <title>Registro</title>
</head>
<body>
   
    <%- include('partials/elements.ejs', { user }) %>

    <div class="page">
        <h2>Registro</h2>
        <form id="frm">
            <p>Nombre de usuario</p>
            <input type="text" name="nombre" required>
            <p>Correo electrónico</p>
            <input type="email" name="correo" required>
            <p>Contraseña</p>
            <input type="password" name="clave" required>
            <p>Repita su contraseña</p>
            <input type="password" id="clave2" required>
            <input type="submit" value="Enviar">
        </form>
    </div>
    
</body>
</html>
<script src="functions/action.js"></script>
<script>
    colaMsg.add('Introduzca sus datos por favor.');

    clave2.addEventListener('input', () => { // arreglar
        if (frm.clave.value != clave2.value) clave2.setCustomValidity("Las contraseñas no coinciden");
        else frm.clave2.setCustomValidity("");
    });

    frm.addEventListener('submit', e => {
        e.preventDefault();
        msgBox.innerHTML = 'Cargando...';

        fetch('/registro', {
            method: 'POST',
            body: JSON.stringify(Object.fromEntries(new FormData(frm))),
            headers: { 'content-type': "application/json" }
        })
        .then(e => e.text()).then(data => {
            switch(data){
                case '1':
                    colaMsg.add('El nombre de usuario ya está en uso.');
                    frm.nombre.value = '';
                    frm.nombre.focus();
                break;
                case '2':
                    colaMsg.add('El correo electrónico ya está en uso.');
                    frm.correo.value = '';
                    frm.correo.focus();
                break;
                case '3':
                    location.href = '/';
                break;
            }
        });
    });
</script>