@font-face {
  font-family: Nova;
  src: url("../fonts/proxima-nova-soft.otf"); }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Nova'; }

html {
  height: 100%; }

body {
  height: 100%;
  overflow: hidden;
  background-image: url("../img/fondo.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center; }

h2 {
  width: max-content;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 0px 0px 15px 15px;
  background-color: #BA4A00;
  color: white;
  margin-bottom: 20px; }

a {
  text-decoration: none; }

input[type=submit] {
  cursor: pointer;
  padding: 5px;
  margin: 10px 0px; }
  input[type=submit]:hover {
    border-style: inset; }

form {
  width: 300px;
  margin: auto;
  text-align: center;
  font-size: 25px; }
  form input {
    width: 200px;
    text-align: center;
    background-color: transparent;
    font-size: 25px;
    outline: none;
    border-color: #DC7633; }

#menu {
  height: 100%;
  width: 200px;
  min-width: 200px;
  text-align: justify;
  overflow-y: auto;
  z-index: 1;
  position: absolute;
  transform: translateX(-200px);
  transition: 0.5s;
  text-align: center; }
  #menu p {
    position: absolute;
    bottom: 0px; }
  #menu button {
    width: 100%;
    font-size: 15px;
    padding: 10px;
    background-color: transparent;
    color: white;
    outline: none;
    border-width: 1px 0px;
    border-color: #DC7633;
    display: flex;
    align-items: center;
    cursor: pointer; }
    #menu button img {
      margin-right: 10px; }
    #menu button:hover {
      background-color: #DC7633; }

.page {
  width: 100%;
  height: calc(100% - 120px);
  overflow-y: auto;
  text-align: justify; }

input[type=submit], #menu, .header, .footer {
  background-color: #BA4A00;
  border: 3px outset #DC7633;
  color: white; }
  input[type=submit] a, #menu a, .header a, .footer a {
    color: yellow; }
    input[type=submit] a:visited, #menu a:visited, .header a:visited, .footer a:visited {
      color: orange; }
    input[type=submit] a:active, #menu a:active, .header a:active, .footer a:active {
      color: orangered; }
  input[type=submit] hr, #menu hr, .header hr, .footer hr {
    border: 1.5px solid white;
    border-radius: 20px;
    margin: 10px; }

.header, .footer {
  width: 100%;
  height: 60px;
  position: fixed;
  display: flex;
  align-items: center; }

.header {
  top: 0px;
  padding: 10px; }
  .header img {
    cursor: pointer; }
  .header h1 {
    width: 100%;
    text-align: center; }

.footer {
  bottom: 0px; }
  .footer p {
    margin: 10px; }

#nada {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; }

@media only screen and (min-width: 800px) {
  #menu {
    position: static;
    transform: translateX(0px); }
  .header, .footer {
    left: 200px;
    width: calc(100% - 200px); }
  .header img {
    display: none; } }
